*{
    font-family: Microsoft JhengHei;
    margin-left: 10px;
}
.listBlock {
    float: left;
}
#sortable1, #sortable2, #sortable3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background: #333;
    padding: 5px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}
#sortable1 li, #sortable2 li, #sortable3 li {
    color:black;
    cursor: move;
    margin: 7px 17px;
    padding: 5px;
    font-size: 1.2em;
    width: 200px;
    background: none;
    background-color: #00AA55;
    border-radius: 5px;
}
.selected {
    background:#e74 !important;
}
.hidden {
    display:none !important;
}
ul {
    list-style-type: none;
}
input {
   border-radius: 3px;
   border: 1px solid #aaa;
   height: 30px;
}